* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  width: 90%;
  margin: auto;
}
.logo {
  margin-top: 7%;
}
.header-text {
  margin-top: 12%;
  text-align: center;
}
.parag {
  margin-top: -1.5%;
}
::-webkit-input-placeholder {
  color: #919eab;
  padding-left: 2%;
}
input {
  font-weight: 400;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.3);
  padding: 20px 30px;
  margin-bottom: 30px;
}
.main {
  width: 80%;
  gap: 23px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
button {
  background-color: #3258fb;
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  font-family: "Roboto";
  padding: 11px 22px 11px 22px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 8px 16px rgba(50, 88, 251, 0.24);

  width: 100%;
}
button:hover {
  background-color: #ffffff;
  color: black;
}
.footer-main {
  margin-top: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
.footer-sub {
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-top: 24px;
  text-align: center;
  text-decoration: none;
}
.footer-sub > a {
  text-decoration: none;
}
.sidebar {
  display: none;
}
.logindesk {
  display: none;
}

@media screen and (min-width: 1280px) {
  .loginright {
    display: flex;
    align-items: flex-start;
  }
  .logindesk {
    display: block;
    padding-left: 35%;
    padding-top: 10%;
    font-size: 15px;
  }
  .login {
    display: none;
  }
  .sidebar {
    display: block;
    height: 100vh;
    width: 30%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.12);
  }
  .logo {
    display: none;
  }

  body {
  }
  span {
    margin-left: 0.5%;
    font-family: "Roboto";
    font-weight: 800;
    font-size: 26px;
  }
  .main {
  }
  .footer-main {
    width: 60%;
  }
  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .container {
    display: flex;
  }
  .artboard {
    margin-top: 30vh;
  }
  .desk {
    display: none;
  }
  .deskblock {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .deskblock [type="text"] {
    width: 48%;
  }

  .nameblock {
    width: 100%;
  }
  .logosb {
    margin-top: 10%;
    margin-left: 10%;
  }
}
